@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
	from {
		opacity : 0;
	}
	to {
		opacity : 1;
	}
}

:root {
	--white           : #FFFFFF;
	--primary-color   : #0F62FE;
	--secondary-color : #393939;
	--gray-1          : #F2F2F7;
	--gray-2          : #F5F5F5;
	--gray-5          : #D8D8DC;
	--text-1          : #161616;
	--text-2          : #525252;
	--text-3          : #A8A8A8;
	--text-4          : #FFFFFF;
}

/* ----- General */
html, body, #__next, main {
	padding : 0;
	margin  : 0;
	height  : 100%;
	width   : 100%;
}

label {
	font-size   : 12px;
	line-height : 16px;
	color       : var(--text-2);
	transition  : color 0.2s ease-in-out;
}

input::placeholder {
	font-weight : lighter;
	line-height : 20px;
	color       : var(--text-3);
}

button > p {
	padding-left : 0;
	transition   : all 0.2s ease-in-out;
}

button.secondary-btn {
	background-color : var(--secondary-color);
	color            : var(--white);
}

/* ----- hover */
input:hover {
	transition : all 0.3s ease-in-out;
}

button:hover > p {
	padding-left : 8px;
	transition   : all 0.4s ease-in-out;
}

#login-form-container:hover {
	box-shadow : 0 0 180px 0 rgba(0, 98, 255, 0.25);
	transition : box-shadow 0.4s ease-in-out
}

/* ----- focus */
input:focus {
	outline    : none;
	transition : all 0.4s ease-in-out;
}

/* ----- Letter Spacing */
h1 {
	letter-spacing : 3px;
}

label {
	letter-spacing : 0.32px;
}

input[type='text'], input[type='email'], input[type='password'] {
	letter-spacing : 0.16px;
}

/* ----- Form Styles */
#login-form-container {
	width         : 430px;
	height        : 528px;
	border-radius : 8px;
	box-shadow    : 0 0 9px 0 rgba(0, 98, 255, 0);
	transition    : box-shadow 0.4s ease-in-out
}

/* Add gap to Inputs (not first) */
div:has(> input[type='text']:not(:first-child), > input[type='email']:not(:first-child), > input[type='password']:not(:first-child)) {
	margin-top : 20px;
}

/* Text inputs */
div:has(> input[type='text'], > input[type='email'], > input[type='password']) {
	display        : flex;
	flex-direction : column;
}

/* Paint label if input is focused */
div:has(> input[type='text']:focus, > input[type='email']:focus, > input[type='password']:focus) label {
	color : var(--primary-color);
}

/* Hover Text inputs */
input[type='text']:hover, input[type='email']:hover, input[type='password']:hover {
	border-bottom : 1.7px solid var(--primary-color);
}

/* Non text inputs */
div:has(> input[type='checkbox']) {
	display        : flex;
	flex-direction : row;
	align-content  : center;
}

input[type='checkbox'] {
	accent-color : var(--primary-color);
	margin-right : 8px;
}

input[type='text'], input[type='email'], input[type='password'] {
	border        : none;
	border-bottom : 1.7px solid var(--text-3);
	padding       : 7px 16px;
	font-weight   : 300;
}

input[type='submit'], button[type='submit'] {
	background-color : var(--primary-color);
	color            : var(--white);
	padding          : 13px 14px;
	border           : none;
	text-align       : left;
}

/* ----- disabled */
button:disabled {
	background-color : var(--text-3);
	color            : var(--white);
}

/* ----- Navbar */
#navbar {
	position         : relative;
	background-color : var(--white);
	box-shadow       : 0 2px 7px 0 rgba(0, 98, 255, 0.07);
	height           : 45px;
	width            : 100%;
	border-bottom    : solid 1px var(--gray-5);
}

#navbar .wrapper {
	height : 100%;
}

#navbar .logo {
	height : 100%;
}

#navbar .logo img {
	height : 95%;
}
#navbar .wrapper {
	height  : 100%;
	padding : 0 100px;
}

#navbar .content {
	height          : 100%;
	display         : flex;
	align-items     : center;
	justify-content : space-between;
}

#navbar .content .center {
	position    : absolute;
	height      : 100%;
	display     : flex;
	align-items : center;
	left        : 50%;
	bottom      : 0;
	transform   : translateX(-50%);
}

#navbar-search {
	display          : flex;
	flex-direction   : row;
	height           : 100%;
	background-color : var(--gray-2);
}

#navbar-search input {
	background : none;
	height     : 100%;
	width      : 350px;
}

#navbar .content .right {
	display         : flex;
	align-items     : center;
	width           : 70px;
	justify-content : space-between;
}

#navbar .icon img {
	width  : 25px;
	height : 25px;
}

/* ------- Layout */
#layout {
	height : calc(100% - 45px);
}

/* ------- Menu */
#menu {
	left             : 0;
	top              : 0;
	height           : 100%;
	width            : 60px;
	background-color : var(--gray-2);
	padding          : 35px 10px;
	transition       : all 0.4s ease-in-out;
}

#menu.active {
	width      : 200px;
	padding    : 35px 20px;
	transition : all 0.4s ease-in-out;
}

#menu-top {
	height        : 40px;
	border-bottom : solid 1px var(--gray-5);
}

#menu.active #menu-top img {
	margin-right : 0;
}

#menu img {
	width  : 25px;
	height : 25px;
	margin : auto;
}

#menu-items {
	width          : fit-content;
	margin         : 20px 0;
	padding-left   : 7px;
	display        : flex;
	flex-direction : column;
	gap            : 25px;
	
}

#menu-bottom {
	height          : 60px;
	border-top      : solid 1px var(--gray-5);
	display         : flex;
	flex-direction  : column;
	justify-content : flex-end;
}

#menu.active #menu-items {
	margin-left : 0;
}

#menu.active #menu-items img {
	margin-left  : 0;
	margin-right : 15px;
	transition   : all 0.4s ease-in-out;
}

#menu.active #menu-bottom img {
	margin-left  : 0;
	margin-right : 15px;
	transition   : all 0.4s ease-in-out;
}

.menu-item {
	display        : flex;
	flex-direction : row;
}

#menu.active p {
	animation-name            : fade-in;
	animation-duration        : 0.4s;
	animation-timing-function : ease-in-out;
	animation-delay           : 0s;
	animation-iteration-count : 1;
	animation-fill-mode       : forwards;
}